<!DOCTYPE html>
<html lang="en">

<%- include(`./partials/head`) %>

    <body>
        <header>
            <div id="title">
                Pokedex
            </div>
            <a href="/index/create">
                <div id="create-btn">Create newpokemon</div>
            </a>

        </header>
        </div>
        <div class="container">
            <% pokemons.forEach(function(monster) { %>
                <% let id=pokemons.indexOf(monster) %>
                    <div id="monster">
                        <div id="monsterName">
                            <a href="/index/<%=id%>">
                                <%=monster.name%>
                            </a>
                        </div>
                        <div id="monsterImg">
                            <img src="<%=monster.img%>">
                        </div>
                    </div>
                    <% })%>
        </div>
    </body>

</html>