<!DOCTYPE html>
<html lang="en">

<%- include(`./partials/head`) %>

    <body>
        <p>
            <%console.log(pokemon.name) %>
        </p>
        <img src="<%=pokemon.img%>">

        <form action="/index/<%=index%>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE">
        </form>
        <a href="/index/<%=index%>/edit">Edit</a>

        </a>



    </body>

</html>