* {
  font-size: 14px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white
  

 
}
a  {
  text-decoration: none;
  color: black;
  opacity: 80%;
}
a:hover {
  color: purple;
  text-decoration: underline;
}

body {
  display: grid;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
 
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto auto 100px ;
  grid-template-areas: " . . header header . ."
  ". container container container container . "
  "footer footer footer footer footer footer";
}

.navFlex {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  font-size: 16px;
}
#delete-btn {
  font-size: 14px;
  padding: 10px;
  background-color: rgb(185, 66, 66);
  color: white;
  font-size: 16px;
  border-radius: 10px;
  text-align: center;
  border: none;
}
#delete-btn:hover{
  background-color: rgb(238, 82, 82);
}

#edit-btn {
 font-size: 16px;
  height: 39px;
  font-size: 14px;
padding: 10px;
  background-color: rgb(43, 79, 238);
  color: white;
  font-size: 16px;
  border-radius: 10px;
  text-align: center;
  border: none;
}



.catagory2-btn {
  margin: 10px;
padding: 10px;
width: min-content;
 
  color: black;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
}
#edit-btn:hover {
  background-color: rgb(31, 136, 255);
}

header {
  grid-area: header;
  place-self: center;
}
header #create-btn{
 padding: 10px 0;
  margin: 0 20px;
  background-color: purple;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  text-align: center;
}

#submit-btn {
  padding: 10px 10px;
  margin: 0 20px;
  background-color: purple;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  text-align: center;
  border: none;
}
#title {
  padding: 20px;
  font-size: 50px;
  font-weight: 600;
}

.container {
  grid-area: container;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content: space-around;
}

#edit-div {
  display: flex;
}

#monster {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 50px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 15px 0 hsla(0, 0%, 0%, 0.15);
}
#showImg img {
  border-radius: 10px;
  box-shadow: 0 5px 15px 0 hsla(0, 0%, 0%, 0.15);
} 

#monsterName {
  align-self: flex-start;
  height: 30px;
  margin: 10px 0;
  margin-left: 10px;
  background-color: white;
}


#monsterName a {
  background-color: white;
  font-size: 1.4em;
}
#monsterName a:visited{
  text-decoration: none;
}

#monsterImg {
  background-color: white;
}

#monsterImg img{

  height:190px;
  width: auto;
}

footer {
  grid-area: footer;
}


/* show page */

#showContainer {
  display: grid;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;

  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto auto 100px ;
  grid-template-areas: " . . header header . ."
  ". showCard showCard showCard showCard . "
  "footer footer footer footer footer footer";
}

.inputForm {
  
}
.catagory-btn {
  text-align: left;
  margin-top: 20px;
  padding: 0;
  font-size: 26px;
}

.group-key {
  margin-left: 0;
  margin-top: 20px;
  margin-bottom: 10px;
}
.inputForm input {
  padding: 7px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgb(185, 185, 185);
  box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.1);
  
}

header {
  grid-area: header;
}

#showCard {
  grid-area: showCard;
}

footer {
  grid-area: footer;
}
